openapi: 3.0.3
info:
  title: Hospital ERP API
  description: Comprehensive API for Hospital/Clinic ERP including Clinical, Billing, Inventory, and HR modules.
  version: 1.0.0
servers:
  - url: https://api.hospital-erp.com/v1
tags:
  - name: Scheduling
    description: Appointment and resource scheduling
  - name: Billing
    description: RCM, Claims, and Payments
  - name: Inventory
    description: Pharmacy and Supply Chain
  - name: HR
    description: Staffing and Payroll
  - name: Clinical
    description: Encounters, OR, and Bed Management

paths:
  # --- Scheduling ---
  /appointments:
    get:
      tags: [Scheduling]
      summary: List appointments
      parameters:
        - name: patient
          in: query
          schema: { type: string, format: uuid }
        - name: date
          in: query
          schema: { type: string, format: date }
      responses:
        '200':
          description: List of appointments
          content:
            application/json:
              schema: { type: array, items: { $ref: '#/components/schemas/Appointment' } }
    post:
      tags: [Scheduling]
      summary: Create appointment
      requestBody:
        content:
          application/json:
            schema: { $ref: '#/components/schemas/Appointment' }
      responses:
        '201':
          description: Created

  /appointments/{id}/status:
    put:
      tags: [Scheduling]
      summary: Update appointment status (check-in/cancel)
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                status: { type: string, enum: [Scheduled, Checked-in, No-show, Cancelled] }
      responses:
        '200':
          description: Status updated

  # --- Billing ---
  /claims:
    post:
      tags: [Billing]
      summary: Submit a claim
      requestBody:
        content:
          application/json:
            schema: { $ref: '#/components/schemas/Claim' }
      responses:
        '201':
          description: Claim submitted

  /claims/{id}/status:
    get:
      tags: [Billing]
      summary: Get claim status
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Claim details
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Claim' }

  /payments:
    post:
      tags: [Billing]
      summary: Post a payment
      requestBody:
        content:
          application/json:
            schema: { $ref: '#/components/schemas/Payment' }
      responses:
        '201':
          description: Payment posted

  /billing/pricelist/{service_code}:
    get:
      tags: [Billing]
      summary: Get price for a service code
      parameters:
        - name: service_code
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Service price details

  # --- Inventory ---
  /inventory/{item_id}:
    get:
      tags: [Inventory]
      summary: Get inventory item details
      parameters:
        - name: item_id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Item details
          content:
            application/json:
              schema: { $ref: '#/components/schemas/InventoryItem' }

  /purchase-order:
    post:
      tags: [Inventory]
      summary: Create purchase order
      responses:
        '201':
          description: PO created

  /inventory/receive:
    post:
      tags: [Inventory]
      summary: Receive inventory items
      responses:
        '200':
          description: Stock updated

  # --- HR & Payroll ---
  /staff/{id}/schedule:
    get:
      tags: [HR]
      summary: Get staff member's working schedule
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Schedule details

  /timesheet/entry:
    post:
      tags: [HR]
      summary: Submit timesheet entry
      responses:
        '201':
          description: Entry recorded

  /payroll/run/{period}:
    get:
      tags: [HR]
      summary: Generate payroll run for period
      parameters:
        - name: period
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Payroll report

  # --- Clinical & Others ---
  /or/cases:
    post:
      tags: [Clinical]
      summary: Create surgical case
      responses:
        '201':
          description: Case created

  /beds/availability:
    get:
      tags: [Clinical]
      summary: Check bed availability
      parameters:
        - name: location
          in: query
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: List of available beds

  /incidents:
    post:
      tags: [Clinical]
      summary: Report quality/risk incident
      responses:
        '201':
          description: Incident reported

  /televisit:
    post:
      tags: [Clinical]
      summary: Schedule or start a televisit
      responses:
        '201':
          description: Visit created

  /studies/{id}/enroll:
    post:
      tags: [Clinical]
      summary: Enroll subject in study
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Enrolled

components:
  schemas:
    Appointment:
      type: object
      properties:
        appointment_id: { type: string, format: uuid }
        patient_id: { type: string, format: uuid }
        provider_id: { type: string, format: uuid }
        location_id: { type: string, format: uuid }
        start: { type: string, format: date-time }
        end: { type: string, format: date-time }
        status: { type: string }
        type: { type: string }
        reason: { type: string }

    Claim:
      type: object
      properties:
        claim_id: { type: string, format: uuid }
        patient_id: { type: string, format: uuid }
        encounter_id: { type: string, format: uuid }
        payer_id: { type: string, format: uuid }
        status: { type: string }
        amount_billed: { type: number }
        amount_allowed: { type: number }

    Payment:
      type: object
      properties:
        payment_id: { type: string, format: uuid }
        payer_id: { type: string, format: uuid }
        amount: { type: number }
        method: { type: string }
        date: { type: string, format: date-time }

    InventoryItem:
      type: object
      properties:
        item_id: { type: string, format: uuid }
        sku: { type: string }
        location_id: { type: string, format: uuid }
        quantity_on_hand: { type: integer }
        reorder_level: { type: integer }
        lot: { type: string }
        expiry_date: { type: string, format: date }
