# Database Connection
MONGODB_URI="mongodb+srv://yuvrajsingh02608_db_user:yuvrajsingh@yondermedicareai.b6dwyv5.mongodb.net/yonder_medicare?retryWrites=true&w=majority"

# Authentication
NEXTAUTH_SECRET="supersecretmedicorekey"
NEXTAUTH_URL="http://localhost:3000"
